<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Onboarded">

	<parameter name="enviarment" value="Smoke"></parameter>

	<test name="SmokeTest">

		<parameter name="wait" value="wait"></parameter>
		<parameter name="clients" value="clients"></parameter>
		<parameter name="driver" value="driver"></parameter>

		<groups>
			<dependencies>
			
				<group depends-on="BetaClientsLogin" name="TestCaseFunction"></group>
				
			</dependencies>
		</groups>

		<classes>

			<!-- <class name="Onboarded.Automation.BetaClientsLogin"/> -->
			<class name="Onboarded.Automation.TestCaseFunction" />

		</classes>

	</test>

</suite>
